@layer theme, base, mui, components, utilities;
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --breakpoint-xs: 23.438rem;
  /* 375px */

  --font-main: var(--font-inter);
  --font-roboto: var(--font-roboto);
  --font-tilt-warp: var(--font-tilt-warp);
  --font-inter: var(--font-inter);
  --font-atkinson: var(--font-atkinson);
  --font-manrope: var(--font-manrope);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(0.2 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.26 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.26 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.29 0.1061 20.36);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.26 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.26 0 0);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.35 0.1599 22.46);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.29 0.1081 19.99);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.25 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.4 0.1599 22.46);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.29 0.1081 19.99);
}

.dark {
  --background: oklch(0.22 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.25 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.25 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.29 0.1061 20.36);
  --primary-foreground: oklch(0.25 0 0);
  --secondary: oklch(0.26 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.26 0 0);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.4 0.1599 22.46);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.29 0.1081 19.99);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.25 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.4 0.1599 22.46);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.29 0.1081 19.99);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}

* {
  scrollbar-color: rgba(84, 8, 19, 0.8) #000000;
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

.custom-scrollbar {
  scrollbar-color: rgba(255, 255, 255, .2) rgba(0, 0, 0, .2);
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

.book-cover {
  background: linear-gradient(157.66deg, #0000, #0000001a);
  box-shadow: inset 0 0 0 .5px #000000e6, inset 1px 1px 4px #fff9, inset -2px -4px 12px #0003;
  border-radius: 0 6px 6px 0;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.novels-showcase {
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  flex-flow: wrap;
  grid-template-rows: auto;
  grid-template-columns: minmax(80px, 115px) minmax(80px, 115px) minmax(80px, 115px) minmax(80px, 115px) minmax(80px, 115px);
  grid-auto-columns: 1fr;
  justify-content: space-around;
  place-items: stretch stretch;
  height: 100%;
  padding: 9px 15px;
  display: grid;
}

.novel-name {
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 115px;
  margin-top: .1875rem;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  overflow: hidden;
  font-weight: bold;
}

.chapter-body>p {
  text-align: left;
  letter-spacing: 0.01em;
  word-spacing: 0.05em;
}

body {
  top: 0px !important;
}

.skiptranslate>iframe {
  display: none !important;
}

#goog-gt-tt,
.goog-te-balloon-frame {
  display: none !important;
}

.goog-text-highlight {
  background: none !important;
  box-shadow: none !important;
}

.goog-logo-link {
  display: none !important;
}

.goog-te-gadget {
  height: 28px !important;
  overflow: hidden;
}

.goog-tooltip {
  display: none !important;
}

.goog-tooltip:hover {
  display: none !important;
}

.chapter-body font {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

.rsw-ce,
.rsw-ce:focus {
  outline: 0px solid transparent !important;
}

br {
  display: block !important;
  content: "" !important;
  margin: 6px 0 !important;
  line-height: 0px !important;
}

.overlay {
  border-image: linear-gradient(hsl(0 100% 0% / 0.85), hsl(0 100% 0% / 0.85)) fill 1;
}